:root{
    --MainColor:black;
    --BackgroundColor: white;
}

html, body{
    height: 100%;
    padding: 0;
    margin:0;
}

h1{
    font-size: 140px;
    font-family: 'Bebas Neue', cursive;
    color:var(--MainColor);
    margin-top: 0;
    margin-bottom:0;
}
h2{
    font-weight: 10;
    font-size: 40px;
    color: var(--MainColor);
    margin:0;
}
h3{
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    color: var(--MainColor);
    margin:0;
}
h4{
    font-size: 60px;
    opacity: 0.75;
    font-family: 'Bebas Neue', cursive;
    color: var(--MainColor);
    margin: 0 0 0 0;
    text-align: center;
}
h5{
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    color:black;
    margin-top: 5%;
    margin-bottom:5%;
    margin: 5% 0 5% 3%
}

p{
    font-size:16px;
    font-family: 'Roboto', sans-serif;
}

.s1{
    background-image:url(photos/whistlerbackground.jpg);
    height: auto;
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    overflow: auto;
    border: 40px solid var(--BackgroundColor);
}

.s2{
    height: auto;
    position: relative;
    width: auto;
    background-color:var(--BackgroundColor);
}

.s3{
    background-image:url(photos/lake.jpg);
    height: auto;
    position: relative;
    opacity: 0.7;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover; 
    overflow: auto;
    border: 40px solid var(--BackgroundColor);
}

.s4{
    height: auto;
    padding-bottom: 60px;
    position: relative;
    width: auto;
    background-color: var(--BackgroundColor);
}


.Intro{
    display: block;
    position: relative;
    margin-top:16%;
    margin-bottom:13%;
    text-align: center;
}

#headertext{
    font-family: 'Bebas Neue', cursive;
}

.ResumeButton{
    display: block;
    margin: 20px 44% 0 44%;
    width: 12%;
    height: 35px;
    background-color: rgb(169, 224, 255);
    border-radius: 20px;
    border: 4px solid var(--MainColor);
    text-decoration: none;

    -webkit-box-shadow: -1px 1px 24px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 24px -6px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 24px -6px rgba(0,0,0,0.75);   
}

.ResumeButton:hover{
    margin: 18.5px 43.75% 0 43.75%;
    width: 12.5%;
    height: 38px;
}

.ProjectSectionWrapper{
    justify-self: center;
    display: grid;
    max-height: 20%;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 50px;
    grid-template-areas: "one one two two three three"
                         "iconWrapper iconWrapper iconWrapper";
}

.ProjectWrapper{
    height: 90%;
    width: 60%;
    padding-bottom: 0;
    background-color: white;
    border-radius: 8px;
    border:3px solid rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
    align-self:end;
    justify-self:center ;

    -webkit-box-shadow: 0px -2px 41px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 41px -7px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 41px -7px rgba(0,0,0,0.75);

    display: grid;
    grid-template-rows: 9fr 8fr;
    grid-template-areas: "Thumbnail"
                         "Description"
}

.ProjectWrapper:hover{
    

    -webkit-box-shadow: 0px -2px 48px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 48px 3px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 48px 3px rgba(0,0,0,0.75);
}

.Thumbnail{
    grid-area: "Thumbnail";
}

#ThumbnailOne{
    border-radius: 4px 4px 0 0 ;
    background-image: url(photos/OnlineCalculator.JPG);
    position: relative;
    background-position: center;
    background-size:cover;
} 
#ThumbnailTwo{
    border-radius: 4px 4px 0 0 ;
    background-image: url(photos/Sudokocover.JPG);
    position: relative;
    background-position: center;
    background-size:cover;
}
#ThumbnailThree{
    border-radius: 4px 4px 0 0 ;
    background-image: url("photos/PortfolioSite.JPG");
    position: relative;
    background-position: center;
    background-size:cover;
}

.ProjectDescription{
    grid-area:"Description";
    margin: 0 0 0 0;
    padding: 0px 2px 0px 4px;
    text-align: center;
    max-width: 100%;
}

#ProjectTitle{
    position: relative;
    padding-top:12px;
    font-size:30px;
}

.iconWrapper{
    grid-area:"iconWrapper";
    display:flex;
    justify-content: center;
}

.GitHubIcon{
    margin: 0 5px 0 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(photos/GitHubIcon.png);
  
    background-position: center;
    background-size:cover;
}

.websiteIcon{
    margin: 0 5px 0 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(photos/websiteIcon.png);
  
    background-position: center;
    background-size:cover;
}


#ProjectOne{
    grid-area:"one";
}
#ProjectTwo{
    grid-area:"two";
}
#ProjectThree{
    grid-area:"three";
}

.SkillsWrapper{
    height: 100%;
    width: 99%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "Cplus C HTML Java JScript CSS";
                

 
}

#SkillsHeader{
    height: auto;
    margin: 10px 0 0 0;
    text-align: center;
}

.SkillIcon{
    height: 180px;
    width: auto;
    justify-self: center;
    margin: 20px 10px 40px 10px;
}

#CplusIcon{
    grid-area:"Cplus"
}
#CIcon{
    grid-area:"C"
}
#JavaIcon{
    grid-area:"Java"
}
#HTMLIcon{
    grid-area:"HTML"
}
#CSSIcon{
    height: 150px;
    padding-top: 30px;
    grid-area:"CSS"
}

#JScriptIcon{
    grid-area: "JScript";
}

.WindowWrapper{
    height: auto;
    width: auto;
    display: grid;
}

.Window{
   height: auto;
   width: 70%;
   margin-top: 20px;
   justify-self: center;
   background-color: white; 
   border-radius: 10px 10px 0 0;
   border: 1px solid #c1c1c1;

   display: grid;
   grid-template-rows: auto;
   grid-template-areas: "Nav""Screen";

   -webkit-box-shadow: 0px -2px 31px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 31px -6px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 31px -6px rgba(0,0,0,0.75);
}

.NavBar{
    border-radius: 10px 10px 0 0;
    background-color: #eaeaea;
    border: 1px solid #c1c1c1;
    grid-area:"Nav";
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.DotsWrapper{
    padding: 10px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.BrowserDot{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin:5px;
    background-color: coral;
}

#RedDot{
    background-color: #FC6058;
}
#YellowDot{
    background-color: #FEC02F;
}
#GreenDot{
    background-color: #2ACA3E;
}

.ContactButton{
    margin: 10px;
    text-decoration: none;
    font-size: 25px;
    color:#17a2b8;
    font-family: 'Goldman', cursive;
}

.ScreenSpaceWrapper{
    grid-area: "Screen";
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:"profile media";
}

.ProfileArea{
    margin: 15% 0 0 0;
    grid-area:"profile"
}

#profilepic{
    margin: 0 35% 0 35%;
    height: auto;
    width: 30%;
    border: 2px solid #c1c1c1;
    align-self: center;
}

#profilesummary{
    padding: 0 2% 0 6%;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.MediaLinks{
    grid-area:"media"
}

#windowheader{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding-top:2%;
    
}

#githubimage{
    width: 70%;
    margin:2% 15% 0 15%;
    height: auto;
    align-self:center;

    -webkit-box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.75);
}

#githubimage:hover{
    margin:1.2% 14% 0 14%;
    width:72%;

    -webkit-box-shadow: 0px -2px 14px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 14px 5px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 14px 5px rgba(0,0,0,0.75);
}

#Linkedinimage{
    width: 70%;
    margin:2% 15% 5% 15%;
    height: auto;
    align-self:center;

    -webkit-box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.75);
}

#Linkedinimage:hover{
    margin:1.2% 14% 4.5% 14%;
    width:72%;
    -webkit-box-shadow: 0px -2px 14px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 14px 5px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 14px 5px rgba(0,0,0,0.75);
}


@media screen and (max-width: 1000px){
    h3{
        font-size: 17px;
        font-family: 'Courgette', cursive;
        position: relative;
        color: var(--MainColor);
        margin:0;
    }
}
